*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-size: 22px;
    overflow: hidden;
    color:orange;
}

header{
    background-image:/*linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0))*/ url('../interiorimage5.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:100vh;
}
.clearfix:after{
    content:",";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}
.row{
    max-width: 1182px;
    margin:0 auto;
}
.logo{
    height: 120px;
    width: auto;
    float: left;
    margin-top: 20px;
}
.main{
    float: right;
    margin-top: 60px;
}
.main li{
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}
.main li a{
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 100;
}
.main li a:hover{
    border-bottom: 2px solid blue;

}
.main-content-header{
    width: 1180px;
    position: absolute;
    /*border: 1px solid red;*/
    top: 55%;
    left: 50%;
    transform:translate(-50%, -50%);
}
h1{
    color: black;
    font-size: 240%;
    word-spacing: 5px;
    letter-spacing: 3px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: lighter;

}
.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 200px;
    transition: background-color 0.2s,border 0.2s,color 0.2s;
}
.btn-full{
    background-color: transparent;
    color: black;
    margin-right: 15px;
    border: 1px solid black;
}
.btn-full:hover{
    background-color: orangered;


}
.btn-nav{
    background-color: transparent;
    color:black;
    margin-right: 15px;
    border: 1px solid black;
}
.btn-nav:hover{
    background-color: orangered;
}
.colorchange{
    animation:colorchangefunterior 1s infinite;
}
@keyframes colorchangefunterior{
    0%{color: green;}
    25%{color:blue;}
    50%{color:red;}
    100%{color:yellow;}
}
.mobile-icon{
    display: none;
}
/*////////responsive view///////*/
@media only screen and (max-width:1180px){
    .main-content-header{
        width:100%;
        padding: 0 2%;
    }
}
@media only screen and (max-width:998px){
    h1{font-size: 200%;}
}
@media only screen and (max-width:768px){
    h1{font-size: 180%;}
    .main{display: none;}
    .mobile-icon{
        display: inline-block;
        color: black;
        float: right;
        margin-top: 30px;
        margin-right: 20px;
    }
    .main{float: left;}
    .main li{
        display: block;
        margin-top: 10px;
    }
}
@media only screen and (max-width:480px){
    .btn-full{
        margin-bottom: 20px;
    }
    h1{font-size: 160%;}

}





